@use '../colors' as c;
button {
    border: inherit;
    outline: none;
    cursor: pointer;
}
.search {
    background-color: c.$lastBlue;
}
input {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: c.$startBlue;
}
a {
    text-decoration: none;
}
a:visited,
a:focus,
a:hover {
    text-decoration: none;
}
li {
    list-style: none;
}